<a href="https://colab.research.google.com/github/vsvale/AUTOML/blob/main/H2O_wine_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! apt-get install default-jre

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
default-jre set to manually installed.
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 34 not upgraded.

In [2]:
! pip install h2o

Collecting h2o
  Downloading https://files.pythonhosted.org/packages/56/ee/9a2c124bedad710b5e721641391b6a76783899e276dbee4ad2f2a7f71325/h2o-3.32.1.1.tar.gz (164.8MB)
     |████████████████████████████████| 164.8MB 84kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.32.1.1-py2.py3-none-any.whl size=164840229 sha256=16d2159e611510985d4c148ddde1c1ade23de3769d28e237a56a1d4839db5c5e
  Stored in directory: /root/.cache/pip/wheels/4d/94/84/02ea21db1eebcef2da872861ce0db478788e27d24bcd5394fb
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.4 h2o-3.32.1.1

In [3]:
import h2o
from h2o.automl import H2OAutoML

In [4]:
h2o.init(nthreads = -1, max_mem_size = 16)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.10" 2021-01-19; OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04); OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpr3mytc8y
  JVM stdout: /tmp/tmpr3mytc8y/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpr3mytc8y/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.1
H2O_cluster_version_age:    1 month and 3 days
H2O_cluster_name:           H2O_from_python_unknownUser_qrwg0q
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    16 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.10 final
--------------------------  ------------------------------------------------------------------

In [5]:
!git clone https://github.com/vsvale/Building-Machine-Learning-Models-in-Spark-2.git

Cloning into 'Building-Machine-Learning-Models-in-Spark-2'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 27 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (27/27), done.

In [6]:
%cd Building-Machine-Learning-Models-in-Spark-2
%cd datasets

/content/Building-Machine-Learning-Models-in-Spark-2
/content/Building-Machine-Learning-Models-in-Spark-2/datasets

In [7]:
df = h2o.import_file('wine.data')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [8]:
df

C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
1,14.23,1.71,2.43,15.6,127,2.8,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.2,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.4,1050
1,13.16,2.36,2.67,18.6,101,2.8,3.24,0.3,2.81,5.68,1.03,3.17,1185
1,14.37,1.95,2.5,16.8,113,3.85,3.49,0.24,2.18,7.8,0.86,3.45,1480
1,13.24,2.59,2.87,21,118,2.8,2.69,0.39,1.82,4.32,1.04,2.93,735
1,14.2,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
1,14.39,1.87,2.45,14.6,96,2.5,2.52,0.3,1.98,5.25,1.02,3.58,1290
1,14.06,2.15,2.61,17.6,121,2.6,2.51,0.31,1.25,5.05,1.06,3.58,1295
1,14.83,1.64,2.17,14,97,2.8,2.98,0.29,1.98,5.2,1.08,2.85,1045
1,13.86,1.35,2.27,16,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045

In [9]:
y = 'C1'
x = list(df.columns).remove(y)

In [15]:
df[y] = df[y].asfactor()

In [16]:
splits = df.split_frame(ratios=[0.7, 0.15], seed=1)

In [17]:
train = splits[0]
valid = splits[1]
test = splits[2]

In [18]:
print(train.nrow)
print(valid.nrow)
print(test.nrow)

132
23
23

In [20]:
aml = H2OAutoML()

In [21]:
aml.train(x = x, y = y, training_frame = train)

AutoML progress: |█████████████
01:11:14.627: Skipping training of model GBM_5_AutoML_20210429_011045 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20210429_011045.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 132.0.


███████████████████████████████████████████| 100%

In [22]:
aml.leaderboard

model_id,mean_per_class_error,logloss,rmse,mse,auc,aucpr
XGBoost_grid__1_AutoML_20210429_011045_model_2316,0,0.0967753,0.143509,0.0205948,nan,nan
XGBoost_grid__1_AutoML_20210429_011045_model_1920,0,0.0511232,0.0904844,0.00818742,nan,nan
XGBoost_grid__1_AutoML_20210429_011045_model_1023,0,0.160862,0.183218,0.033569,nan,nan
XGBoost_grid__1_AutoML_20210429_011045_model_183,0,0.162128,0.183355,0.033619,nan,nan
XGBoost_grid__1_AutoML_20210429_011045_model_1259,0,0.159901,0.182124,0.0331692,nan,nan
XGBoost_grid__1_AutoML_20210429_011045_model_2119,0,0.100653,0.137488,0.0189029,nan,nan
DeepLearning_grid__2_AutoML_20210429_011045_model_18,0,0.0103536,0.0396688,0.00157362,nan,nan
XGBoost_grid__1_AutoML_20210429_011045_model_1322,0,0.109403,0.143242,0.0205181,nan,nan
XGBoost_grid__1_AutoML_20210429_011045_model_781,0,0.124839,0.162404,0.0263751,nan,nan
XGBoost_grid__1_AutoML_20210429_011045_model_1377,0,0.254389,0.251242,0.0631225,nan,nan

In [29]:
perf = aml.leader.model_performance(test)

In [30]:
perf.confusion_matrix

ModelMetricsMultinomial: xgboost
** Reported on test data. **

MSE: 0.03886701253843428
RMSE: 0.19714718496198286
LogLoss: 0.13872276920216017
Mean Per-Class Error: 0.030303030303030304
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

     1     2    3     Error    Rate
0  5.0   0.0  0.0  0.000000   0 / 5
1  1.0  10.0  0.0  0.090909  1 / 11
2  0.0   0.0  7.0  0.000000   0 / 7
3  6.0  10.0  7.0  0.043478  1 / 23

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.956522
1  2   1.000000
2  3   1.000000

In [27]:
aml.leader

Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_grid__1_AutoML_20210429_011045_model_2316


Model Summary:

     number_of_trees
0               40.0

ModelMetricsMultinomial: xgboost
** Reported on train data. **

MSE: 0.0021593255362819057
RMSE: 0.04646854351367068
LogLoss: 0.03402974437785953
Mean Per-Class Error: 0.0
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

      1     2     3  Error     Rate
0  46.0   0.0   0.0    0.0   0 / 46
1   0.0  53.0   0.0    0.0   0 / 53
2   0.0   0.0  33.0    0.0   0 / 33
3  46.0  53.0  33.0    0.0  0 / 132

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0

ModelMetricsMultinomial: xgboost
** Reported on cross-validation data. **

MSE: 0.020594781503840066
RMSE: 0.14350882029979922
LogLoss: 0.09677532182144329
Mean Per-Class Error: 0.0
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

      1     2     3  Error     Rate
0  46.0   0.0   0.0    0.0   0 / 46
1   0.0  53.0   0.0    0.0   0 / 53
2   0.0   0.0  33.0    0.0   0 / 33
3  46.0  53.0  33.0    0.0  0 / 132

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0

Cross-Validation Metrics Summary:

                                    mean  ...   cv_4_valid  cv_5_valid
0                  accuracy          1.0  ...          1.0         1.0
1                       auc          NaN  ...          NaN         NaN
2                     aucpr          NaN  ...          NaN         NaN
3                       err          0.0  ...          0.0         0.0
4                 err_count          0.0  ...          0.0         0.0
5                   logloss   0.09699807  ...  0.085987665  0.13001044
6       max_per_class_error          0.0  ...          0.0         0.0
7   mean_per_class_accuracy          1.0  ...          1.0         1.0
8      mean_per_class_error          0.0  ...          0.0         0.0
9                       mse  0.020689553  ...  0.016712556  0.03505444
10                   pr_auc          NaN  ...          NaN         NaN
11                       r2   0.96494323  ...    0.9703473   0.9424835
12                     rmse   0.14110272  ...   0.12927705   0.1872283

[13 rows x 8 columns]

Scoring History:

               timestamp  ... training_auc  training_pr_auc
0    2021-04-29 01:26:16  ...          NaN              NaN
1    2021-04-29 01:26:16  ...          NaN              NaN
2    2021-04-29 01:26:16  ...          NaN              NaN
3    2021-04-29 01:26:16  ...          NaN              NaN
4    2021-04-29 01:26:16  ...          NaN              NaN
5    2021-04-29 01:26:16  ...          NaN              NaN
6    2021-04-29 01:26:16  ...          NaN              NaN
7    2021-04-29 01:26:16  ...          NaN              NaN
8    2021-04-29 01:26:16  ...          NaN              NaN

[9 rows x 9 columns]

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0        C8           173.953064           1.000000    0.357349
1       C14            93.999428           0.540372    0.193102
2        C2            91.587936           0.526509    0.188148
3       C11            65.229607           0.374984    0.134000
4       C12            17.744095           0.102005    0.036451
5        C7            12.877969           0.074031    0.026455
6        C4            10.794140           0.062052    0.022174
7        C6             7.786490           0.044762    0.015996
8       C13             6.823748           0.039228    0.014018
9        C5             3.232967           0.018585    0.006641
10       C3             2.757770           0.015854    0.005665

In [24]:
preds = aml.leader.predict(valid)
preds

xgboost prediction progress: |████████████████████████████████████████████| 100%

predict,p1,p2,p3
1,0.983634,0.00654103,0.00982449
1,0.811513,0.095462,0.093025
1,0.983765,0.00708824,0.00914698
1,0.984373,0.00717946,0.00844718
1,0.982872,0.00928098,0.00784751
1,0.964298,0.0220175,0.0136839
1,0.987678,0.00537963,0.00694211
1,0.987011,0.00596768,0.00702143
2,0.0117204,0.934581,0.0536987
2,0.17051,0.779519,0.0499711

In [31]:
aml.leader.download_mojo(path='./', get_genmodel_jar=True)

'/content/Building-Machine-Learning-Models-in-Spark-2/datasets/XGBoost_grid__1_AutoML_20210429_011045_model_2316.zip'